
@{
    ViewData["Title"] = "Home";
}

<div align="center" style="background-color:cadetblue">
<h4 style="color:aqua;" >Welcome to Ecommerce App</h4>
</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="row">
    <div class="card" style="width: 15rem;background-color:antiquewhite">
      <img class="card-img-top" src="\Images\mobile.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mobile</h5>
        <p class="card-text">This is a newly launched mobile.</p>
        <a href="#" onclick="location.href='@Url.Action("Login", "Ecommerce")'" class="btn btn-primary">Buy</a>
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 15rem;background-color:antiquewhite">
      <img class="card-img-top" src="\Images\earphones.jfif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ear phones</h5>
        <p class="card-text">this is very good hear phones which will gives u a good vibe to listen music.</p>
        <a href="#" onclick="location.href='@Url.Action("Login", "Ecommerce")'" class="btn btn-primary">Buy</a>
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 15rem;background-color:antiquewhite">
      <img class="card-img-top" src="\Images\Watches.jfif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Watches</h5>
        <p class="card-text">beautifull collection of watches in the budget.</p>
        <a href="#" onclick="location.href='@Url.Action("Login", "Ecommerce")'" class="btn btn-primary">Buy</a>
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 15rem;background-color:antiquewhite">
      <img class="card-img-top" src="\Images\Goggles.jfif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">goggles</h5>
        <p class="card-text">which will gives a better sight.</p>
        <a href="#" onclick="location.href='@Url.Action("Login", "Ecommerce")'" class="btn btn-primary">Buy</a>
      </div>
    </div>
</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="row">
     <div class="card" style="width: 15rem;background-color:antiquewhite">
      <img class="card-img-top" src="\Images\TV.jfif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Smart Tv's'</h5>
        <p class="card-text">this will gives u a theater experience.</p>
        <a href="#" onclick="location.href='@Url.Action("Login", "Ecommerce")'" class="btn btn-primary">Buy</a>
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 15rem;background-color:antiquewhite">
      <img class="card-img-top" src="\Images\shoes.jfif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shoes</h5>
        <p class="card-text">very mportant for every one and there are multiple brand shoes are available in our website.</p>
        <a href="#" onclick="location.href='@Url.Action("Login", "Ecommerce")'" class="btn btn-primary">Buy</a>
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 15rem;background-color:antiquewhite">
      <img class="card-img-top" src="\Images\furniture.jfif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Furniture</h5>
        <p class="card-text">New Arrivals for upcomming the festivals to design ur homes...</p>
        <a href="#" onclick="location.href='@Url.Action("Login", "Ecommerce")'" class="btn btn-primary">Buy</a>
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 15rem;background-color:antiquewhite" >
      <img class="card-img-top" src="\Images\bag.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bags</h5>
        <p class="card-text">one must and should have bag pack to travel.</p>
        <a href="#" onclick="location.href='@Url.Action("Login", "Ecommerce")'" class="btn btn-primary">Buy</a>
      </div>
    </div>
</div>

